name: Generate Gradle Wrapper

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Gradle Wrapper
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.7
          arguments: wrapper --gradle-version 8.7

      - name: List generated files
        run: |
          ls
          ls gradle
          ls gradle/wrapper
